<div class="container">
    <div class="card-group">
        {{#each characters as |character|}}
        <div class="card">
            <div class="card-body">
                <div class="card-title">{{character.name}}</div>
                <div class="card-text">
                    {{character.description}}
                </div>
                <a class="btn btn-primary" href="/update/character/{{character.id}}" data-bs-toggle="modal">Edit</a>
                <button class="btn btn-danger" data-id="{{character.id}}">Delete</button>
            </div>
            <img src="#" alt="" class="card-img-bottom">
        </div>
        {{/each}}
    </div>
</div>
<div class="container">
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                
            </div>
        </div>
    </div>
</div>