<div class="container">
    <div class="card-group">
        {{#each plots as |plot|}}
        <div class="card">
            <div class="card-body">
                <div class="card-title">{{plot.name}}</div>
                <div class="card-text">
                    {{plot.description}}
                </div>
            </div>
            <img src="#" alt="" class="card-img-bottom">
        </div>
        {{/each}}
    </div>
</div>