<div class="container">
    <div class="row h-50">
        <div class="col-6 details">
            <div class="col-6"><h1>{{name}}</h1></div>
            <div class="col"><p class="details-text">{{description}}</p></div>
        </div>
        <div class="col-6">
            <img src="{{image}}https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png" alt="{{name}} image">
        </div>
    </div>
</div>