<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="col-6">{{location.name}}Title</div>
            <div class="col">{{location.description}}Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate,
                temporibus autem maxime impedit reiciendis pariatur eaque? Neque laborum deserunt, minima quae
                voluptatibus accusamus qui quia quasi perspiciatis officia, recusandae impedit.
            </div>
        </div>
        <div class="col-6">
            <img src="#" alt="">
        </div>
    </div>
</div>